doctype html
html(lang='en')
    head
        title MusiQ Video Party App
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-146713-9')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-146713-9');
    body
        .container
            .row
                .col-xl-12(style={'background-color': '#572D15'})
                    h1.text-center.display-1#title MusiQ App
                .col-lg-12(style={'background-color': '#DAE3D9'})
                    h1.text-center.display-4#description MusiQ is a music video jukebox that allows everyone at a gathering to search and add their favourite songs to the playlist.
                .col-sm-6(style={'background-color': '#D4B59D'})
                    .dropdown
                    button(type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown')
                        h1.display-4.text-center
                            | LAUNCH Player
                    .dropdown-menu
                        - var n = 0;
                        while n < 10
                            - ++n 
                            a(class='dropdown-item' href='/player2/Playlist'+n, target='_blank')= 'Player '+n
                .col-sm-6(style={'background-color': '#CE9C6F'})
                    .dropdown
                    button(type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown')
                        h1.display-4.text-center
                            | MANAGE Playlist
                    .dropdown-menu
                        - var n = 0;
                        while n < 10
                            - ++n 
                            a(class='dropdown-item' href='/search2/Playlist'+n, target='_blank')= 'Player '+n
                .col-sm-12 *This app is in development and is not for public use.
                .col-lg-12
                    p
                    h3
                        u Features In Development / TODO
                    ul
                        li Create your own jukebox/playlist (multi-instance)
                        li Invite users from player
                        li User Access Controls / abuse controls
                        li 
                            s CI\CD pipeline (currently container deployment script is manually executed).
                        li UX audit and cosmetic improvements
                    p
                    h3
                        u Recent Changes
                    ul
                        b December 14, 2019
                        li Implemented support for multiple concurrent players/playlists.
                    ul
                        b  December 11, 2019
                        li Implemented new search page with remote control capabilities of the player.
                    p
                    ul
                        b November 10, 2019
                        li Implemented render unit tests for home, search, and player pages.
                        li Created CI\CD pipeline to automate building, testing and deployment of application.
                    p

